.nav {
    grid-area: n;
    background-color: #365c88;
    paddind: 20px;
}
.item a {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
    color: white;
    text-decoration: none;
    margin: 20px;
}
.item a.active{
    color: #efaf42;
}