.sidebar {
/*display: flex;*/
    padding: 10px;
    color: #ffffff;
    /*text-decoration: none;*/
}
.sidebar img {
    /*display: flex;*/
    margin: 10px 10px 10px 10px;
    width: 40px;
    border-radius: 30px;
}
.sideName {
    text-align: center;
    /*padding-bottom: 15px;*/
}